﻿@model IEnumerable<musicstore3.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h3>Browse Genres</h3>

<p>Select form @Model.Count()</p>

@foreach(var genre in Model){
    
    
    <li>@Html.ActionLink(genre.Name,"Browse", new { genre = genre.Name })</li>

}
