﻿@model musicstore3.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<p>Are you sure you want to delete Album titled <strong>@Model.Title</strong></p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
